<%= form_with(model: [song, comment] ) do |form| %>
  <div id = "comment-field">
    <%= form.text_area :content, size: "30x1" %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする" %>
  </div>
<% end %>