<%= form_with(model: [song, comment] ) do |form| %>
  <div class = "comment_form">
   <div id = "comment-field">
     <%= form.text_area :content, size: "25x1" %>
   </div>
   <div class="actions">
     <%= form.submit "送信" %>
   </div>
  </div>
<% end %>