<div class = "container">
  <h1>フォロワー一覧</h1>
  <% @follows.each do |followed| %>
    <div class = "row">
      <div class = "col-md-2">
      	<%= attachment_image_tag followed, :profile_image, :fill, 80, 80, fallback: "no_image.jpg",size: '80x80' %>
      </div>
      <div class = "col-md-3 follow_name">
        <p><strong><%= link_to followed.name, user_path(followed.id) %></strong></p>
      </div>
      <div class = "col-md-7 follow_introduction">
        <%= followed.introduction %>
      </div>
    </div>
	<% end %>
</div>