// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.pagination {
  display: none;
}

.song-info{
  font-size:20px;
  margin:10px;
}

.favorite_field{
  font-size:15px;
}

.song_description{
  margin-bottom:10px;
  max-width:700px;
}

.artist-songs_box{
  max-height:100px;
  max-width:300px;
  overflow: auto;
  white-space: nowrap;
}

.artist_song{
  margin-left:20px;
  margin-right:20px;
  overflow: auto;
  white-space: nowrap;
  display:inline-block;
}

.description_field{
  font-size:15px;
  margin-top:-40px;
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.ranking{
  display: inline-block;
  vertical-align: top;
  max-width:350px;
  margin-top:20px;
}

.card {
  display: flex;
}

.card-body {
  padding: 1.25rem;
  max-width:320px;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size:15px;
}

.infinite_song{
  margin-top:15px;
  margin-bottom:15px;
  height:600px;
  width:1000px;
  overflow: scroll;
  margin-left:30px;
  box-shadow: 0px 0px 8px gray;
}

.index_field{
	max-widht:940px;
}

.name_index{
	max-width:6000px;
	font-size:18px;
}

.locate_song{
  margin:20px;
  color:black;
  input {
    margin-left:20px;
  }
  btn btn-primary{
    height:10px;
  }
  label{
    margin-right:10px;
    color:white;
  }
}


ul li {
  list-style: none;
}

ul {
  width: 500px;
}

.song_submit{
  margin-left:90px;
}

.input-field{
  margin-top:30px;
}

.infinite-list{
  max-height:450px;
  max-width:700px;
  overflow:scroll;
  box-shadow: 0px 0px 8px gray;
}

.ranking_title{
margin-bottom:-10px;
}

.bg-image {
  width: 1150px;
  height: 600px;
}

.lyrics_field{
  margin-top:50px;
  display:inline-block;
}

.apple_field{
  padding: 0.5em 1em;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #FFF;
}

.genius_field{
  padding: 0.5em 1em;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #FFF;
  margin-bottom:40px;
}

.index_song{
  display: inline-block;
  border-bottom: 3px double
}

.song_user{
  margin-top:15px;
  margin-left:-80px;
}

.post_user{
  margin-top:10px;
}

.song_index{
  margin-top:20px;
  padding-left:20px;
  margin-bottom:20px;
}


.song_button{
  margin-top:-30px;
  float:right;
  .btn-danger{
    margin-left:20px;
  }
}

.exit_description{
  margin:20px;
}

.row_ranking{
  padding-left:80px;
}

.search_index{
  padding-bottom:20px;
}