// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.pagination {
  display: none;
}

.song-info{
	font-size:20px;
	margin:10px;
}

.favorite_field{
	font-size:15px;
}

.song_description{
	margin-bottom:10px;
}

.infinite-list{
	margin-top:40px;
}

.artist-songs{

}

.artist-songs_box{
	max-height:100px;
	max-width:300px;
	overflow: auto;
    white-space: nowrap;

}

.artist_song{
	margin-left:20px;
	margin-right:20px;
	overflow: auto;
    white-space: nowrap;
    display:inline-block;
}