.profile_edit{
  margin-top:20px;
}

.name_field{
  border:none;
  border-bottom:solid 2px;
  background:none;
  outline: 0;
  font-size:15px;
  margin-left:20px;
  margin-top:-15px;
}

.profile_field{
  margin-bottom:30px;
}

ul li {
  list-style: none;
}

ul {
  width: 500px;
}

.profile_image{
  margin-left:50px;
  margin-bottom:20px;
}

.profile_submit{
  margin-left:150px;
}

.community_user{
	margin-bottom:10px;
	margin-left:40px;
}

.infinite_box{
	margin-bottom:20px;
	margin-left:20px;
  float:left;
}

.infinite_text{
  float:right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:300px;
  margin-top:10px;
  margin-left:20px;
}


.song_infinte{
  max-height:300px;
  max-width:450px;
  overflow:scroll;
  height:300px;
  display:inline-block;
}

.favorite_infinte{
	max-height:300px;
  max-width:450px;
  overflow: scroll;
}

.song-name{
	font-size:18px;
	margin-bottom:10px;
}

.collection-item{
  margin-top:100px;
  margin-left:300px;
}

.follow_field{
  margin-top:30px;
  margin-bottom:-100px;
}

.following_index{
  display:inline-block;
  font-size:20px;
}

.followed_index{
  margin-left:100px;
  display:inline-block;
  font-size:20px;
}
