.profile_edit{
	margin-top:20px;
}

.profile_field{
  margin-bottom:30px;
}

ul li {
    list-style: none;
}

label {
    margin-right: 10px;
    width:100px;
    float: left;
}

ul {
    width: 500px;
}

.profile_submit{
  margin-left:90px;
}

.community_user{
	margin-bottom:10px;
	margin-left:40px;
}

.infinite_box{
	margin-bottom:10px;
	margin-left:20px;
}

.Submitted_title{
}

.song_infinte{
  max-height:300px;
  max-width:450px;
  overflow:scroll;
  height:300px;
}

.favorite_infinte{
	max-height:300px;
  max-width:450px;
  overflow: scroll;
}

.song-name{
	font-size:18px;
	margin-bottom:10px;
}

.collection-item{
  margin-top:20px;
  margin-left:300px;
}