<h1>コミュニティ一覧</h1>
<%= link_to "コミュニティ作成", new_community_path, class: 'btn btn-default' %>
<% @communities.each do |community| %>
 <div class = "community-index">
  <%= link_to community_path(community.id) do %>
   <%= community.name %>
  <% end %>
  <%= community.description %>
 </div>
<% end %>
